# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
.angular
bazel-out
coverage
dist
tmp
out-tsc
.sass-cache/

# Node
node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace
.vscode

# Miscellaneous
connect.lock
libpeerconnection.log
testem.log
typings

# System files
.DS_Store
Thumbs.db
